.gitattributes text eol=lf
*.pth filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.bat -text
*.cmd -text
*.sh text eol=lf
*.command text eol=lf
